@*@using Order.ViewEntity
@model List<ManagerRole>*@
@{
    ViewData["Title"] = "型材档案";
}
<form class="layui-form layui-form-pane" style="width:90%;">
    @Html.AntiForgeryToken()
    @Html.Hidden("Id")
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">型材型号</label>
        <div class="layui-input-block">
            <input type="text" name="Code" class="layui-input Code" lay-verify="required|username" placeholder="请输入型材型号">
        </div>
    </div> 
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">型材名称</label>
        <div class="layui-input-block">
            <input type="text" name="Name" class="layui-input Name" placeholder="请输入型材名称" lay-verify="required|username" autocomplete="off" />
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">壁厚</label>
        <div class="layui-input-block">
            <input type="text" name="WallThickness" class="layui-input WallThickness" placeholder="请输入壁厚" autocomplete="off" />
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">理论米重</label>
        <div class="layui-input-block">
            <input type="text" name="TheoryMeter" class="layui-input TheoryMeter" placeholder="请输入理论米重" lay-verify="email" autocomplete="off" />
        </div>
    </div> 
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addManager">确定</button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript" src="~/layui/layui.js"></script>
    <script type="text/javascript" src="~/js/sectionBar/sectionBarAdd.js?_=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
}

